@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
body {
  background: #131314 !important;
  color: #efe5d2;
  font-family: "Poppins";
  font-size: 11px;
}
.apexcharts-theme-dark {
  background: #262626 !important;
}

.apexcharts-theme-dark svg {
  background: #262626 !important;
}


.custom-checkbox input:before{ content:""; display:inline-block; width:16px; height:16px; background:red; }
.custom-checkbox input:checked:before { background:green; }

/* images */
.custom-checkbox input:before { background: url('./assets/Rectangle-3414.svg') #fff;}
.custom-checkbox input:checked:before { background: url('./assets/Rectangle-3414.svg') #fff; }


