@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
body {
  background: #131314 !important;
  color: #efe5d2;
  font-family: "Poppins";
}
.apexcharts-theme-dark {
  background: #262626 !important;
}

.apexcharts-theme-dark svg {
  background: #262626 !important;
}
